.gallery {
	background: #0D0919;
	padding: 20px 0;

	li {
		float: left;
		width: 25%;
	}

	a {
		display: block;
	}

	img {
		width:100%;
		height: auto;
		box-sizing: border-box;
	}

	@media screen and (max-width: 800px) {
		li {
			width: 50%;
		}
	}
}
